/* NavBar */

ul.nav {
  list-style-type: none;
  position: fixed;
  background-color: #B66249;
  top: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 15px 60px 15px 60px;
  overflow: hidden;
}

ul.nav li {float: right;}

ul.nav h1 {
	display: inline;
	font: bold 28px bookman-jf-pro;
	color:#FEF5F3;
	}

ul.nav li a {
  display: block;
  padding: 0px 20px 0px 25px;
  font: 18px brandon-grotesque;
  color: #FEF5F3;
}

ul.nav li a:hover {
	color: #AEC0AB;}

ul.nav h1 a {
  color: #FEF5F3;
  text-decoration:none;
}

@media screen and (max-width: 800px) {
  ul.nav li {
    float: none;
  }
  ul.nav h1 {
    font: bold 20px bookman-jf-pro;
  }
  ul.nav li a {
    padding: 0px 10px 0px 15px;
    font: 14px brandon-grotesque;
  }
}

/* MAIN CONTENT */

body {
  background-color: #B66249;
}
/* COLUMNS */

* {
  box-sizing: border-box;
}

.first-column {
    width: 55%;
    padding: 10px;
    float: left;
}

.second-column {
    width: 45%;
    padding: 10px;
	margin-top: 50px;
    float: left;
}

@media only screen and (max-width: 800px) {
.content {margin-top: 170px;}
   .first-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .second-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
}

/* Design */

.content {
	padding-left: 6%;
  padding-top: 7%;
}

.responsive {
  width: 100%;
  max-width:900px;
  height: auto;
}

.content h1 {
  font: 0px bookman-jf-pro;
  font-size: calc(30px + 4.4vw);
  color: #230607;
  line-height: 88%;
  margin-left: 4px;
  letter-spacing: -4px;
}

ul.content li p {
  font: 18px brandon-grotesque;
  color: #FEF5F3;
}

.content h2 {
  font: 0px bookman-jf-pro;
  font-size: calc(32px + 1.6vw);
  color: #AEC0AB;
  line-height: 88%;
  text-align: right;
  letter-spacing: -4px;
  margin-right: 9%;
}

.content p {
  font: 22px brandon-grotesque;
  font-weight:400;
  color: #FEF5F3;
  line-height: 105%;
  letter-spacing: 0px;
}
.content p2 {
  font: 22px brandon-grotesque;
  font-weight:400;
  color: #230607;
  line-height: 105%;
  letter-spacing: 0px;
}

.content a {
  font: bold 86px bookman-jf-pro;
  font-size: calc(30px + 1vw);
  color: #AEC0AB;
}

.content a:hover {
  color: #FEF5F3;
}
